@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-sec : #f6f6f6;
    --cor-terc: #00ffff;
    --cor-hover: #272727;

    --font-primaria: 'Krona One', sans-serif;
    --font-sec: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color:var(--cor-sec);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalhomenu {
    display: flex;
    gap: 80px;
}

.cabecalhomenulink {
    font-family: var(--font-sec);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terc);
    text-decoration: none;
}

.cor-titulo {
    color: var(--cor-terc);
}

.cor-titulo:hover {
    color: greenyellow;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apconteudotitulo {
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.paragrafotexto{
    font-size: 1.37rem;
    font-family: var(--font-sec);
}

.botoes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    align-items: center;
}

.acesse {
    font-family:var(--font-primaria);
    font-weight: 400;
    font-size: 1.12rem;
}

.bt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terc);
    width: 40%;
    text-align: center;
    border-radius: 5px;
    font-size: 1.37rem;
    font-weight: 600;
    text-decoration: 0;
    padding: 15px 0px;
    color:var(--cor-sec);
    font-family:var(--font-sec);
}

.bt:hover{
    background-color: var(--cor-hover);
}

.imgap{
    width: 40%;
}

.rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terc);
    font-family:var(--font-sec);
    font-size: 1.37rem;
    text-align: center;
    font-weight: 400;
}
@media (max-width: 1200px){
    
    .cabecalho {
        padding: 10%;
        
    }

    .cabecalhomenu{
        justify-content: center;
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width:auto;
    }
}